.container {
	width: 78%;
	height: auto;
	margin-top: 2%;
	margin-left: 21%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container div {
	background-color: #FFF;
	width: 45%;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	border: #000 solid 1px;
	border-radius: 1%;
}

.container #login p {
	margin-top: 15px;
}

.container #cadastro h1 {
	margin-bottom: 6px;
}

.container #cadastro p {
	margin-top: 9px;
}

.p-input1 {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	margin-bottom: 20px;
}

.input1 {
	display: block;
	width: 75%;
	background: #e6e6e6;
	font-size: 15px;
	line-height: 1.5;
	color: #626262;
}

input.input1 {
	margin-top: -10px;
	height: 50px;
	border-radius: 25px;
	padding: 0 30px;
}

.cardInicio {
	width: auto;
	height: auto;
	color: #000;
	background-color: white;
}

.cardInicio a {
	cursor: pointer;
}

#cardErro {
	background-color: #FFF;
	width: 36%;
	position: center;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	border: #000 solid 1px;
	border-radius: 1%;
	margin-left: 43%;
}

#indexContainer img {
	height: 90px;
}

#indexContainer {
	text-align: center;
}